.clients {
  &__form {
    margin-top: 50px;
  }
}

.form-clients {
  display: flex;
  &__group {
    margin-right: 10px;
    &-size {
      width: 220px;
    }
  }
  &__select {
    font-size: 13px;
    height: 100%;
  }
  &__button {
    height: 38px;
    width: 100px;
  }
  &__created {
    color: #1daf14;
    padding-top: 7px;
    padding-left: 7px;
  }
}


@media only screen and (max-width: 768px) {
  .form-clients {
    display: block;
    &__group-size {
      width: unset;
    }
  }
}

@media (max-width: 992px) and (min-width: 768px) {
  .form-clients {
    &__group-size {
      width: 350px;
    }
  }
}
