.history {
  &__form {
    margin-top: 50px;
  }
}

.histories__header {
  margin-top: 30px;
}

.header-history {
  display: flex;
  justify-content: flex-start;
  &__block {
    margin-right: 50px;
  }
  &__span {
    font-size: 20px;
    &-bold {
      font-weight: 500;
    }
    &-left {
      margin-left: 18px;
    }
  }
}

.form-history {
  display: flex;
  &__group {
    margin-right: 10px;
    &-size {
      width: 220px;
    }
  }
  &__select {
    font-size: 13px;
    height: 100%;
  }
  &__button {
    height: 38px;
    width: 100px;
  }
}


@media only screen and (max-width: 768px) {
  .form-history {
    display: block;
  }
}
