.log-out__text {
  margin-left: 25px;
  text-decoration: underline!important;
  cursor: pointer;
}

.navbar__user {
  font-weight: 600;
  color: #fff!important;
}

.navbar-text {
  font-size: 14px;
}

.nav-link {
  font-size: 14px;
}

@media only screen and (max-width: 768px) {
  .log-out__text  {
    margin-left: 0px;
  }
}
